@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  html, body, #root {
    height: 100%;
  }

  
  html, body {
    overflow-x: hidden;          
    touch-action: pan-y;         
    overscroll-behavior-x: none; 
  }
}